:root {
  --white: #efefef;
  --grey: #efefef;
  --blue: #22577a;
  --light-blue: #38a3a5;
  --light-green-1: #57cc99;
  --light-green-2: #80ed99;
  --dark: #121212;
  --light-dark: #12121274;

  --sm: 12px;
  --md: 16px;
  --lg: 20px;
}
